<form (ngSubmit)="addCharacter()">
  <div>
    <label for="nameCharacter">Nombre</label>
    <input type="text" id="nameCharacter" [(ngModel)]="character.nameCharacter" name="nameCharacter" required>
  </div>
  <div>
    <label for="healthCharacter">Salud</label>
    <input type="number" id="healthCharacter" [(ngModel)]="character.healthCharacter" name="healthCharacter" required>
  </div>
  <div>
    <label for="attackCharacter">Ataque</label>
    <input type="number" id="attackCharacter" [(ngModel)]="character.attackCharacter" name="attackCharacter" required>
  </div>
  <div>
    <label for="defenseCharacter">Defensa</label>
    <input type="number" id="defenseCharacter" [(ngModel)]="character.defenseCharacter" name="defenseCharacter" required>
  </div>
  <div>
    <label for="speedCharacter">Velocidad</label>
    <input type="number" id="speedCharacter" [(ngModel)]="character.speedCharacter" name="speedCharacter" required>
  </div>
  <div>
    <label for="staminaCharacter">Resistencia</label>
    <input type="number" id="staminaCharacter" [(ngModel)]="character.staminaCharacter" name="staminaCharacter" required>
  </div>
  <div>
    <label for="intelligenceCharacter">Inteligencia</label>
    <input type="number" id="intelligenceCharacter" [(ngModel)]="character.intelligenceCharacter" name="intelligenceCharacter" required>
  </div>
  <div>
    <label for="specialCharacter">Especial</label>
    <input type="number" id="specialCharacter" [(ngModel)]="character.specialCharacter" name="specialCharacter" required>
  </div>
  <div>
    <label for="categoryCharacter">Categoría</label>
    <input type="text" id="categoryCharacter" [(ngModel)]="character.categoryCharacter" name="categoryCharacter" required>
  </div>
  <div>
    <label for="universeCharacter">Universo</label>
    <input type="text" id="universeCharacter" [(ngModel)]="character.universeCharacter" name="universeCharacter" required>
  </div>
  <div>
    <label for="imageUrl">URL de Imagen</label>
    <input type="text" id="imageUrl" [(ngModel)]="character.imageUrl" name="imageUrl" required>
  </div>
  <button type="submit">Añadir Personaje</button>
</form>
