/* Estilos generales */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #121212;
  color: #FFFFFF;
}

/* Barra de navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul p {
  padding: 14px 16px;
  color: white;
  text-align: center;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #575757;
  color: #00FF7F;
}

/* Contenido principal */
.main {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff512f, #dd2476);
}

.background {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.login-form {
  max-width: 400px;
  width: 100%;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

.login-form h1 {
  color: #00FF7F;
}

.login-form p {
  color: #FF69B4;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  color: #FFF;
}

.login-form input {
  width: calc(100% - 24px); /* Ajustar el ancho */
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #575757;
  border-radius: 5px;
  background: #2b2b2b;
  color: #FFF;
  font-size: 16px;
  box-sizing: border-box; /* Asegurar que el padding no afecta el ancho total */
}

.login-form input:focus {
  border-color: #00FF7F;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #FF69B4;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: #ff85b2;
}

/* Pie de página */
footer {
  background: #333;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .social-icons {
  margin: 10px 0;
}

footer .social-icons a {
  margin: 0 10px;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

footer .social-icons a:hover {
  color: #00FF7F;
}
